
body{
    margin: 0px;
    padding: 0px;
}
h1{
    color: aqua;
    background-color: blue;
    margin: 0px;
}
img{
    width: 10%;
    height: 10%;
    object-fit: cover;
    pointer-events: none
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(141, 127, 250);
    border: 2px solid blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}